
<div class="container">
    <div class="row py-5">
        <div class="col-9 my-auto">
            <h3 class="font-weight-bold text-light"> Just a little force push</h3>
            <p class="text-white-50">We don’t serve their kind here! What? Your droids. They’ll have to wait outside. We don’t want them here. Listen, why don’t you wait out by the speeder. We don’t want any trouble. I heartily agree with you sir. Negola dewaghi wooldugger?!? He doesn’t like you. I’m sorry. I don’t like you either You just watch yourself. We’re wanted men. I have the death sentence in twelve systems. I’ll be careful than. You’ll be dead. This little one isn’t worth the effort. Come let me buy you something…</p>
        </div>
        <div class="col-3 text-center">
            <img src="https://picsum.photos/id/1062/200" alt="" class="img-thumbnail rounded float-right">
        </div>
        
    </div>
</div>