<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="font-weight-bold text-light"> Portofolio</h3>
      <div class="text-white-50 pb-2">
        Because you know, inside every one there is a photographer, or at least a smartphone.
      </div>
      <div class="bg-black row">
        <div class="col-4">
          <div class="card" style="width: 700;">
            <img src="https://picsum.photos/id/1063/700/400" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Trees and tunnel</h5>
              <p class="card-text">Sometimes you just need to change the perspective</p>
            </div>
          </div>>
        </div>
        <div class="col-4">
          <div class="card" style="width: 700;">
            <img src="https://picsum.photos/id/1067/700/400" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">City view</h5>
              <p class="card-text">Everyone enjoy a nice city view</p>
            </div>
          </div>>
        </div>
        <div class="col-4">
          <div class="card" style="width: 700;">
            <img src="https://picsum.photos/id/1064/700/400" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Landscape</h5>
              <p class="card-text">For those who prefer natural landscape</p>
            </div>
          </div>>
        </div>
      </div>
    </div>
  </div>
</div>