<div class="bg-black">
  <p class="h2 text-light text-center"> Here you will some images of the world save by this hero</p>
    <div class="row">
      <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 ">
        <img
        src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
        class="w-100 shadow-1-strong rounded mb-4 m-1"
        alt="Boat on Calm Water"
        />
    
        <img
        src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain1.webp"
        class="w-100 shadow-1-strong rounded mb-4 m-1"
        alt="Wintry Mountain Landscape"
        />
      </div>
      
      <div class="col-lg-4 mb-4 mb-lg-0">
        <img
        src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain2.webp"
        class="w-100 shadow-1-strong rounded mb-4 m-1"
        alt="Mountains in the Clouds"
        />
        
        <img
        src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
        class="w-100 shadow-1-strong rounded mb-4 m-1"
        alt="Boat on Calm Water"
        />
      </div>
      
      <div class="col-lg-4 mb-4 mb-lg-0">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(18).webp"
          class="w-100 shadow-1-strong rounded mb-4 m-1"
          alt="Waves at Sea"
          />
          
          <img
          src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain3.webp"
          class="w-100 shadow-1-strong rounded mb-4 m-1"
          alt="Yosemite National Park"
          />
        </div>
      </div>
      <!-- Gallery -->
  </div>