<!-- your html code here -->
<div><img class="imgleft" src="https://picsum.photos/200">
<h3>The Second Heading is Pretty Cool Too</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula quam sed arcu pellentesque porttitor. Nullam vitae lacus tortor. In a elementum nulla. Quisque non augue consectetur, tempus nunc ut, varius ante. Suspendisse tristique vestibulum nisl, in ultricies dui gravida vel. Cras et tortor eget odio pharetra condimentum. Maecenas et laoreet lectus. Nunc in metus quis erat mattis pellentesque quis id lectus. Quisque aliquet tellus et dolor porttitor auctor.</p>
</div>